.basic-layout-root {
  width: 100%;
  height: 100%;
  background-color: azure;
  display: flex;
  flex-direction: row;
}

.basic-layout-left {
  background-color: #001529;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  flex: 0 0 256px;
  /** The transition control animation when this class is applied. */
  transition: all 0.5s ease-in-out;
}

.basic-layout-left.collapsed {
  flex: 0 0 64px;

  /** The transition control animation when this class is applied. */
  transition: all 0.5s ease-in-out;
}

.basic-layout-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #007777;
}

.basic-layout-header {
  flex: 0 0 64px;
  display: flex;
  flex-direction: row;
  background-color: #189077;

  padding: 8px;
  span {
    font-size: 48px;
    cursor: pointer;
  }
}

.header-right-toolbar {
  display: flex;
  flex-direction: row;
}

.toolbar-icon {
  color: rgba(0, 40, 250, 0.2);
}

.basic-layout-footer  {
  flex: 0 0 64px;
  text-align: center;
  margin: 48px 0 24px 0;
}



