<section class="basic-layout-root">
  <aside class="basic-layout-left" [class.collapsed]="collapsed">
    <div class="logo">
      <span class="material-icons">menu_book</span>
      <span class="menu-text">ZNote</span>
    </div>
    <div class="menu-item">
      <a routerLink="/home">
        <span class="material-icons">library_books</span>
        <span class="menu-text">Notes</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/notes/tags">
        <span class="material-icons">label</span>
        <span class="menu-text">Tags</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/home">
        <span class="material-icons">menu_book</span>
        <span class="menu-text">ZNote</span>
      </a>
    </div>
  </aside>
  <section class="basic-layout-right">
    <header class="basic-layout-header">
      <div (click)="onCollapseClick()"><span class="material-icons">view_headline</span></div>
      <div style="flex: 1;"></div>
      <div class="header-right-toolbar">
        <div><span class="material-icons-outlined toolbar-icon">notifications</span></div>
      </div>
    </header>
    <nav aria-label="breadcrumb" class="basic-layout-nav">
      <ul class="breadcrumb">
        <li *ngFor="let item of breadcrumbs|async" class="breadcrumb-item">
          <a [routerLink]="item.url">{{item.name}}</a>
        </li>
      </ul>
    </nav>
    <div class="basic-layout-content" style="min-height: 600px;">
      <router-outlet style="height: 100%;"></router-outlet>
    </div>
    <footer class="basic-layout-footer">
      <div>Copyright Newer Notes System</div>
    </footer>
  </section>
</section>
